:root {
  --colorPrimario: #0077b6;
  --suavePrimario: #00b4d8;
  --naranja: #ff8500;
  --azulOscuro: #0012c1;
  --azulTitulos: #002940;
  --verdeSuave: #00fc75;
  --verde: #00c45b;
  --verdeOscuro: #009c48;
  --blanco: #ecf0f1;
  --colorOscuro: #2f2f2f;
  --colorGris: #9f9f9f;
  --fuente: "Arial";
}
html,
body {
  font-family: var(--fuente);
  padding: 0;
  margin: 0;
}
.hero {
  height: 600px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.hero .hero-text {
  color: var(--blanco);
  text-shadow: 3px 3px 2px var(--colorOscuro);
  text-align: center;
  padding: 0 10px;
}
.hero img,
.info-main .info-contacto img,
.main-contacto img {
  width: 100%;
  object-fit: cover;
}
.info-main,
.noti-main,
.work-main,
.galeria-main,
.main-contacto {
  margin: 30px 5%;
}
.info-main .info-general h2,
.work-main h2 {
  color: var(--azulTitulos);
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
}
.info-main .info-general p,
.work-main > p {
  padding-bottom: 20px;
  font-size: small;
  color: var(--colorOscuro);
  letter-spacing: 1px;
  border-bottom: 1px solid black;
}
.info-main .perfiles,
.info-main .info-contacto {
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 20px;
  margin-top: 20px;
}
.cartas {
  margin-top: 10px;
  border: 1px unset black;
  border-radius: 10px;
  padding: 10px 20px;
  box-shadow: 0 0 5px black;
}
.info-main .cartas h2 {
  color: var(--azulTitulos);
  font-weight: bold;
  font-size: 2em;
}
.info-main .perfiles div ul {
  list-style: lower-roman;
  margin: 0;
  padding: 0;
  padding-left: 5%;
}
.info-main .perfiles div ul li {
  margin: 5px 0;
  text-wrap-mode: wrap;
  letter-spacing: 1px;
  font-size: small;
  font-weight: 500;
}
.cartas address {
  font-size: 1.5em;
  font-style: normal;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
}
.info-main .info-contacto img,
.main-contacto img {
  padding: 0;
}
.info-main .info-contacto a {
  display: flex;
  background-color: var(--naranja);
  color: #ffffff;
  padding: 5px 10px;
  letter-spacing: 1px;
  text-decoration: none;
  margin: 10px 0;
  justify-self: flex-end;
}

/*Noticias css*/
.Titulo-gris h1 {
  background-color: var(--azulTitulos);
  color: var(--blanco);
  text-align: center;
  margin: 0;
  padding: 5px;
}
.noti-main section > h2,
form h2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}
.noti-main .noti-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  border-bottom: 1px solid black;
  padding-bottom: 30px;
}

.noti-content .cartas {
  display: flex;
  flex-direction: column-reverse;
  grid-column: span 4;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
  margin: 0;
  padding: 0;
}
.noti-content .cartas header {
  display: flex;
  justify-content: space-between;
  margin: 10px 20px;
}
.noti-content .cartas h2 {
  margin: 0;
  padding: 5px;
}
.noti-content .cartas .Fecha {
  background-color: var(--azulOscuro);
  color: var(--blanco);
  padding: 5px 10px;
  border-radius: 10px;
  align-self: center;
  font-weight: bold;
  letter-spacing: 2px;
}
.noti-content .cartas img,
.fotos img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}
.noti-content .cartas p,
.work-main .card .contenedor p {
  opacity: 0;
  display: none;
  /* visibility: hidden;
  height: 0px;
  transition:
    opacity 0.5s ease-in,
    transform 0.8s ease-in,
    max-height 0.5s ease-in;
  transform: translateY(-10px); */
}
.noti-content .cartas:hover {
  transform: scale(1.1);
}
.noti-content .cartas:focus {
  z-index: 20;
  outline: transparent;
  animation: animacionesNoticias 2s forwards;
  flex-direction: column;
}
/*Campo laboral*/
.work-main .carrusel {
  position: relative;
  display: flex;
  gap: 5px;
  padding: 0 50px;
}
.work-main .carrusel input[type="radio"],
.work-main .card input[type="checkbox"] {
  display: none;
}
.work-main .carrusel label {
  position: absolute;
  font-size: 2em;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 5px;
  background-color: #ffffff90;
}
.work-main .carrusel label:first-of-type {
  top: 0;
  left: 0;
  bottom: 0;
}
.work-main .carrusel label:last-of-type {
  top: 0;
  right: 0;
  bottom: 0;
}
.work-main .carrusel article {
  transform: scale(0.5);
  text-align: center;
  transition: transform 0.5s ease;
}
.work-main .carrusel article img {
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 2px 2px 5px var(--colorGris);
}
.work-main .carrusel #radioIzq:checked ~ article:first-of-type,
.carrusel #radioDer:checked ~ article:last-of-type {
  transform: scale(1);
}
.work-main .card {
  position: relative;
  border: none;
  border-top: 5px solid var(--colorPrimario);
  padding: 10px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-bottom: 30px;
  box-shadow: 0px 0px 5px var(--colorGris);
}
.work-main .card ul {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 0;
}
.work-main .card ul li {
  border-radius: 10px;
  padding: 5px;
  color: #ffffff;
}
#salario-jr {
  background-color: var(--verdeSuave);
}
#salario-mid {
  background-color: var(--verde);
}
#salario-sr {
  background-color: var(--verdeOscuro);
}
.work-main .card label,
.hero-text a,
form input[type="submit"] {
  text-shadow: none;
  text-decoration: none;
  background-color: var(--naranja);
  padding: 5px;
  color: #ffffff;
  text-align: center;
}

.work-main .card label i {
  transition: transform 0.2s ease;
}
.work-main .card input[type="checkbox"]:checked ~ label i {
  transform: rotate(180deg);
}

/*Galeria -------------*/

#galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
}
.galeria-contacto .cartas {
  margin-top: 20px;
}
form {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 15px;
  padding: 10px;
  box-sizing: border-box;
}
form input {
  border-radius: 10px;
  padding: 5px;
  font-size: 1.1em;
}

/*------------------Contacto -------------------------*/

@media (max-width: 480px) {
  main {
    padding-bottom: 60px;
  }
  .hero {
    height: 400px;
    padding: 0;
    position: relative;
  }
  .hero .hero-text {
    position: absolute;
    z-index: 6;
  }
  .hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000030;
    z-index: 5;
  }
  .hero .hero-text h1,
  .noti-Titulo h1 {
    font-size: 2.2em;
  }
  .info-main .info-general h2,
  .work-main h2,
  form h2 {
    font-size: 1.1em;
  }
  .info-main .info-general p,
  .info-main .info-contacto address {
    letter-spacing: normal;
    font-size: 0.9em;
  }
  .info-main .perfiles,
  .info-main .info-contacto {
    grid-template-columns: 1fr;
  }
  .info-main .cartas h2 {
    margin: 10px 0;
    font-size: 1.2em;
  }
  .cartas address {
    font-size: 1em;
    word-break: break-all;
  }
  .info-main .info-contacto a {
    font-size: small;
  }
  .noti-main .noti-content {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  form label,
  form h2,
  form input[type="submit"] {
    grid-column: span 12;
  }
  form label {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
